body{
    font-family: 'Open Sans', sans-serif;
    background-color:#fff;
    color:#333;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    line-height: 24px;
    overflow-x: hidden;
    padding: 0
    
}
#header-static{
    background-image: url(/images/header-bg-light.png);
    width:100%;
    height:100px;
    padding:0;
    box-sizing:border-box;
    border:none;
}
#intro{
    text-align: center;
}

label{
    font-display: bold;
    display: flex;
    margin: 0 12px;
    padding:0 100px 0 0;
    

}
span{
    font-weight: 100;
    font-size: medium;
    color:rgb(236, 47, 14);
}
    
input{
    width:80%;
    height:40px;
    padding-left:40px;
    padding-right:60px;


}
#businessType{
    width:90%;
    height:50px;
}

#Next{
    width:60px;
    background-color: rgb(8, 119, 119);
    color:white;
    cursor:pointer;
    margin-top: 30px;
    height:50px;
    border-radius: 0px;
    border:none;
    text-align:left;
}




    
